@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
  --yellow: #b1cbbb;
  --black: #034f84;
  --white: #deeaee;
  --light-bg: #ddeedd;
  --border-bold: 0.5rem solid var(--black);
  --border-light: 0.2rem solid var(--black);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black);
}

*::selection {
  background-color: var(--black);
  color: var(--light-bg);
}
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--light-bg);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  transition: 0.2s linear !important;
}
.container {
  display: flex;
  flex-direction: column;
  color: var(--light-bg);
  background-color: var(--light-bg);
}
.container .nav-item {
  display: inline-block;
  color: var(--black);
}
.container nav ul {
  color: var(--light-bg);
}
tr {
  color: var(--black);
}
